.App-link {
  color: #61dafb;
}

.site-title {
  text-align: center;
  font-size: 1.4em;
  margin: 0.7em 0;
  height: 20%;
}

.site-title h1 {
  user-select: none;
}

.site-body {
  display: flex;
  flex-direction: row;
}

.board {
  width: 50%;
}

.info-panel {
  width: 50%;
}